@import (less) 'reset';

// Colors
@mainColor: #363635;
@secondColor: #A68F58;
@textColor: #F15D58;
@oneMoreColor: #83BF17;

// Measures
@fullSize: 100%;
@zeroIntends: 0;
@baseSize: 10px;
@brdrBaseSz: 1px; // make mixin for border style

//Mixins
.fullSize() {
    width: @fullSize;
    height: @fullSize;
}

.flex(@display: flex, @direction: row, @alignA: center, @alignC: center, @justifyC: space-between) {
    display: @display;
    flex-direction: @direction;
    align-items: @alignA;
    align-content: @alignC;
    justify-content: @justifyC;
}

html, body {
    background-color: @mainColor;
    .fullSize;
    padding: @zeroIntends;
    margin: @zeroIntends;
    font-size: @baseSize;
    box-sizing: border-box;
}

body {
    height: @fullSize - 1;
}

.paint-container {
    .fullSize
}

.picture-panel {
    height: @fullSize - 15;
    background-color: #fff;
    margin: @baseSize;
}

.toolbar {
    max-width: @fullSize;
    height: @fullSize - 90;
    margin: @baseSize;
    box-sizing: border-box;
    background-color: @secondColor;
    .flex;
    font-size: @baseSize + 8;
}

.tool-item-block {
    .flex(@direction: column, @justifyC: flex-start);
    height: @fullSize;
    width: @fullSize;
    color: @mainColor;
    padding: @baseSize;
    cursor: default;
    border-right: 4px solid @mainColor;
    margin-top: @baseSize * 2;

    &:last-child {
        border: none;
    }
}

.tool-description {
    display: block;
    width: @fullSize;
    text-align: center;
    font-size: @baseSize * 2 + 4;
    padding-bottom: @baseSize / 2 - 1;
    margin-bottom: @baseSize;
    border-bottom: 1px solid @mainColor;
}

.tool-item-block--item {
    width: @fullSize - 20;
    height: @fullSize - 70;
    border: none;
    background-color: @oneMoreColor;
    padding: @baseSize - 8;
    font-size: @baseSize + 2;
    text-transform: uppercase;
    outline: none;
}

.tool-item-block--item__link {
    text-transform: uppercase;
    font-size: @baseSize + 6;
    padding: @baseSize @baseSize * 2;
    background-color: @oneMoreColor;

    &:hover {
        border-bottom: 1px solid @textColor;
    }
}

.tool-item-block--item__file-open {
    background-color: rgba(0, 0, 0, 0);
}

.tool-item-block--item__form {
    .flex;
    background-color: rgba(0,0,0,0);
}